*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
      max-width: 1300px;
      width: 70%;
      margin: auto;
}
body{
    font-family: 'Fredoka', sans-serif;
}
.text-banner{
padding: 30px 0;
}
.text-banner .title{
  color: rgb(211, 67, 112) ;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.text-banner .description{
 font-weight: 400;
 text-align: center;
 margin-bottom: 20px;
}
.card-collection{

}
.clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.card-collection .card.specialist{
  float: left;
  margin: 20px;
  height: calc(100% * 3);
}
.float-wrapper{
    width: 200px;
    height: 80px;
    background-color: black;
    border: 1 solid black;
    float: right;
    height: calc(100% * 3);
    }
.card-collection .card.specialist img{
   width: 70px;
}
.card-collection .card.specialist .title{
font-weight: 600;
color:white;
margin-bottom: 4px;
margin-left: 15px;

}
.card-collection .card.specialist .subtitle{
font-weight: 300;
font-size: 13px;
color: white;
margin-bottom: 4px;
margin-left: 15px;
}
.card-collection .card.specialist .email{
    font-size: 14px;
    text-decoration: none;
    color: rgb(121, 204, 239);
    margin-left: 15px;
}